body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: "Verdana", sans-serif;
    background-image: url(../../img/login_background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    padding-top: 5vh;
}
.outer-rectangle {
    margin: auto;
    position: relative;
    width: 70vw;
    height: 56vh;
    background-color: #DBE6D8;
    border-radius: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rectangle {
    margin: auto;
    width: 65vw;
    background-color: #EFF0EB;
    border-radius: 10vw;
    padding-bottom: 5vh;
}
.title{
    padding: 2vh 0 3vh 5vw;
    display: flex;
    align-items: center;
}
.text {
    text-align: center;
    color: #426151;
    font-size: 46px;
    font-weight: 700;
    margin-left: 3vw;
}

.input {
    margin: auto;
    width: 50vw;
    height: 4vh;
    background-color: #DBE6D8;
    border-radius: 2vw;
    border: 1px solid #426151;
    margin-bottom: 2vh;
    align-items: center;
    display: flex;
    color: #426151;
    font-size: 28px;
    font-weight: 400;
    font-family: inherit;
    padding-left: 13px;
}

.label1,
.button-autor,
.button-reg {
    text-align: center;
    color: #426151;
    display: block;
    margin: auto;
    text-decoration: none;
}

.label1 {
    font-size: 10px;

}
    .label1:hover {
        text-decoration: underline;
    }

.label2 {
    color: #ab0417;
    margin-top: 12px;
    text-align: center;
    padding: 10px 6px 10px 6px;
    font-size: 16px;
    border: 1px solid #ab0417;
    border-radius: 5px;
}

.under-rectangle {
    margin: auto;
    display: grid;
}

.button-autor {
    font-size: 48px;
    font-weight: 400;
    border: 1px solid #426151;
    border-radius: 2vw;
    padding: 1vh 8vw 1vh 8vw;
    background: none;
}

.button-reg {
    padding-top: 2vh;
    font-size: 42px;
    font-weight: 400;
}

#icon {
    width: 12vw;
    height: 12vw;
}