body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
    background-image: url(../../img/profile_background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    margin-left: 20px;
}

.hat {
    background-color: #426151;
    background-size: cover;
    height: 5vh;
    padding-top: 10px;
}

.headerline {
    display: flex;
    align-items: center;
}

.options {
    margin-left: auto;
}

.opt-item {
    color: #E3DED1;
    text-decoration: underline;
    font-weight: 600;
    font-size: 34px;
    margin-right: 5vw;
}

    .opt-item:hover {
        color: #C3D1F4;
    }

.login-button {
    color: #C3D1F4;
    font-size: 32px;
    font-weight: 700;
    padding: 10px 28px 10px 28px;
    background-color: #426151;
    border-radius: 10px;
    border-radius: 15px;
    margin-right: 5vw;
    text-decoration: none;
}

section {
    padding-top: 3vh;
    display: flex;
}

.section-container {
    width: 85vw;
    height: 55vh;
    margin: auto;
    background-color: #EFF0EB;
    border-radius: 28px;
    display: flex;
    flex-direction: column;
}

.title {
    color: #587364;
    font-size: 32px;
    font-weight: 700;
    padding: 36px 0 42px 24px;
    border-bottom: 2px solid #426151;
    margin-left: 15px;
    margin-right: 15px;
}

#data-table-wrap{
    display: flex;
    flex-direction: column;
}
.data{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-top: 34px;
}
.data-column{
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
}
.data-row{
    display: flex;
    flex-direction: row;
    margin-bottom: 3vh;
}
.data-row-item {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    color: #587364;
    align-self: baseline;
}
.data-row-item-big {
    color: #587364;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: -5px;
}

#data-change-name {
    color: #6C7794;
    cursor: pointer;
}
#data-change-email {
    color: #6C7794;
    cursor: pointer;
}
#data-change-password {
    color: #6C7794;
    cursor: pointer;
}
#data-password{
    border: 0px;
    background: none;
}
#data-password:hover{
    text-decoration: underline;
}
.picture-container{
    margin-top: -14px;
}
.picture {
    margin: auto;
    width: 200px;
    height: 200px;
    background-color: #D9D9D9;
    border-radius: 20px;
    background-size: cover;
}
.label1 {
    font-size: 22px;
    color: #426151;
    margin-bottom: 37px;
    margin-top: 26px;
    border: 0px;
    background: none;
}

    .label1:hover {
        text-decoration: underline;
    }
.data-input {
    margin-right: 2vw;
    width: 14vw;
    height: 2vh;
    background-color: #DBE6D8;
    border-radius: 1vw;
    border: 1px solid #426151;
    color: #426151;
    font-size: 24px;
    font-weight: 400;
    font-family: inherit;
    padding-left: 10px;
}
.confirm-button {
    cursor: pointer;
    width: 2vh;
    height: 2vh;
    border: 0;
    background-image: url('../../img/checkbox-checked-svgrepo-com.svg');
    background-size: cover;
}
.errmessage{
    margin: auto;
    color: #c90202;
    font-size: 20px;
    padding-top: 2vh;
}
.exit-button {
    font-size: 38px;
    font-weight: 400;
    border: 2px solid #426151;
    border-radius: 3vw;
    padding: 2vh 8vw 2vh 8vw;
    background: none;
    margin: auto;
    color: #426151;
}