body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Inter", sans-serif;
}
.container {
    margin-left: 10px;
}
.header {
    background-image: url(../../img/main_background2.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.hat {
    background-color: #426151;
    background-size: cover;
    height: 5vh;
    padding-top: 10px;
}
.headerline {
    display: flex;
    align-items: center;
}
.options{
    margin-left: auto;
}

.opt-item {
    color: #E3DED1;
    text-decoration: underline;
    font-weight: 600;
    font-size: 34px;
    margin-right: 5vw;
}
    .opt-item:hover {
        color: #C3D1F4;
    }

.login-button {
    color: #426151;
    font-size: 32px;
    font-weight: 700;
    padding: 10px 28px 10px 28px;
    background-color: #B6CEAE;
    border-radius: 15px;
    margin-right: 5vw;
    text-decoration: none;
}

.main {
    display: grid;
    margin-top: 7vh;
    margin-left: 5vw;
}
.main-bg {
    position: absolute;
    width: 80vw;
    height: 11vh;
    border-radius: 10vw 0px 10vw 0px;
    border: 0;
    background-color: #DCE7D9;
    opacity: 0.7;
    filter: alpha(opacity = 70);
}
.front-text {
    margin: 3vh 0px 0px 15vw;
    z-index: 1;
    font-size: 60px;
    color: #424B61;
}
.submain {
    margin-top: 6.5vh;
    width: 35vw;
    height: 6vh;
    display: flex;
    background-color: #424B61;
    border-radius: 5vw 0px 5vw 0px;
}
.small-text {
    margin: auto;
    font-weight: 400;
    font-size: 42px;
    color: #DCE7D9;
}
.section {
    background-color: #426151;
    background-size: cover;
}
.hills {
    padding-top: 30vh;
    display: flex;
    justify-content: stretch;
}
.cards {
    padding-top: 3vh;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}
.card {
    margin-right: 5vw;
    background-color: #DCE7D9;
    height: 13vh;
    width: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.borders {
    border: solid 2px #426151;
    height: 11vh;
    width: 11vh;
    text-align: center;
    align-content: center;
}
.card-content {
    padding: 0px 11px 13px 11px;
    margin: auto;
    text-decoration: underline;
    font-size: 20px;
    color: #424B61;
}
.description {
    display: flex;
    padding-top: 278px;
}
.main-text {
    color: #426151;
    font-weight: 300;
    font-size: 24px;
    padding: 39px;
    margin-left: 39px;
}
.main-text:hover{
    text-decoration: underline;
}

.section {
    padding-top: 4vh;
}

.rectangles-container {
    background-image: url(../../img/back.svg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 60px;
    padding-top: 10vh;
    display: flex;
    flex-direction: row;
}
.rectangles {
    margin: 44px 0px 0px 10vw;
    display: flex;
    flex-direction: column;
}
.rectangles-item {
    margin-bottom: 7.5vh;
    display: inline-block;
    position: relative;
    height: 9vh;
    width: 28.75vw;
    background-color: #426151;
    border: solid 1px #DAE5D7;
    font-size: 10px;
    color: #EFF0EB;
    text-align: center;
    padding: 15px 15px 0px 15px;
}
.rectangles-images{
    display: flex;
    flex-direction: column;
    margin-left: -12vw;
}
.pre-img img {
    display: block;
    vertical-align: bottom;
    font-size: 0;
}
.rectangles-images-item {
    display: flex;
    margin-bottom: 3vh;
    border: solid 3px #426151;
    background-color: #426151;
    
}
#section-image {
    width: 63vw;
}
.comment-container {
    background-color: #DCE7D9;
    padding: 36px 0 36px 10px;
}

.comments-title {
    font-size: 32px;
    color: #DCE7D9;
    position: absolute;
    z-index: 2;
    margin-left: 80vw;
    margin-top: -4.5vh;
}

h3 {
    font-size: 34px;
    text-decoration: underline;
    color: #426151;
    margin-top: -5px;
    margin-bottom: 0px;
}

h4 {
    font: 20px;
    color: #426151;
    margin: auto;
    font-weight: 400;
    padding: 0px 11px 0px 11px;
}

.comment-section{
    display: flex;
}

.comment-list {
    margin-top: 15px;
    padding: 15px;
    border-left: solid 2px #426151;
    height: 40vh;
    width: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}

.comment-item {
    padding: 1vh;
    margin-left: 2vw;
    margin-bottom: 1vh;
    display: flex;
    align-items: flex-start;
    position: relative;
    z-index: 1;
}
.comment-item:before {
    content: "";
    position: absolute;
    left: 100px;
    bottom: 0;
    height: 2px;
    width: 30%;
    border-bottom: solid 2px #426151;
}
.comment-item-avatar {
    padding-right: 3vw;
    
}
.comment-item-avatar-img {
    width: 12vw;
    height: 12vw;
}
.comment-item-inner {
    
}
.comment-item-text {
    padding-top: 1vh;
    font-size: 26px;
}
.stars{
    padding: 15px;
    margin-left: 2vw;
    display: flex;
}
.stars-item{
    margin-right: 0.5vw;
}

.comment-form{
    width: 80vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
}

.comment-input {
    margin: 10px 0 10px 0px;
    font-size: 24px;
    border: 2px solid #426151;
    border-radius: 10px;
    padding: 1vh 5vw 5vh 5vw;
    display: flex;
    resize: none;
}

.submit-button {
    background-color: #DBE6D8;
    border-radius: 2vw;
    border: 2px solid #426151;
    margin-bottom: 2vh;
    margin-left: auto;
    align-items: center;
    color: #426151;
    font-size: 26px;
    font-family: inherit;
    padding: 1vh 4vw 1vh 4vw;
}

.footer {
    background-color: #182017;
    height: 5vh;
}
.footer-options{
    padding-top: 1vh;
    display: flex;
    margin-left: 5vw;
    align-items: start;
}

.footer-opt-item {
    color: #FFFFFF;
    font-weight: 100;
    font-size: 24px;
    margin-right: 5vw;
}

